# Git & Version Control
.git
.gitignore

# Environment & Secrets (Never bake into Docker image)
.env
.env.*

# Build Artifacts & Temporary Files
tmp/
bin/
auth-server
*.log

# Dev Tools & Configurations
.air.toml
docker-compose.yml
Dockerfile

# Documentation, Postman, & Benchmarks
README.md
auth.json
benchmark/
data/

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db
